DJANGO_SECRET_KEY=django-insecure-ib=8gsc-#82)h*@)@il2+a$(ko&=_w&qgq30=@iu^=6e5)ght4
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.150,127.0.0.1:3000,127.0.0.1:8000,localhost:3000,localhost:8000
DJANGO_LOGLEVEL=info
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=people_mgmt
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
